@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Regular", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.btn {
  border-radius: 12px;
  padding: 10px 20px;
}

.btn-primary {
  background-color: red;
  text-decoration: none;
  color: white;
}

.btn-secondary {
  text-decoration: none;
  color: red;
  border: 1px solid red;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-border {
  border: 1px solid white;
  border-radius: 12px;
  width: 30%;
}
.card-border .card-content {
  color: white;
  padding: 10px;
  margin: 0;
  max-height: 100%;
}
.card-border .card-content a {
  border: 1px solid grey;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin: 2px;
  padding: 2px;
}
.card-border .card-img {
  position: relative;
}
.card-border .card-img img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-border .card-tag {
  position: absolute;
  top: 1em;
  left: 1em;
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navbar ul li {
  list-style: none;
  color: white;
}
.navbar ul li a {
  text-decoration: none;
  background-color: red;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  font-size: 1rem;
}

#solde {
  background-color: red;
  color: white;
  padding: 8px;
}
#solde .flex-solde {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#solde .flex-solde span {
  background-color: rgba(233, 233, 233, 0.329);
  padding: 5px;
}
#solde .flex-solde a {
  display: inline-block;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
  color: white;
}
.title h2 {
  color: red;
}

#downloads {
  background-image: url(../img/latest-products-bg.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
}
#downloads .flex-downloads {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8em;
  color: white;
}
#downloads .flex-downloads .downloads-content h2 {
  color: red;
  margin-top: 0;
}
#downloads .flex-downloads .downloads-content ol {
  gap: 10px;
}
#downloads .flex-downloads .downloads-content li {
  border: 1px solid grey;
  border-radius: 8px;
  list-style: none;
  padding: 10px;
  margin: 10px;
}
#downloads .flex-downloads .downloads-content .btn-downloads {
  padding: 20px;
}
#downloads .flex-downloads .downloads-content .btn-downloads a {
  margin: 8px;
}
#downloads .downloads-img {
  max-width: 100%;
}

.produits {
  text-align: center;
  color: white;
}
.produits h2 {
  color: red;
}

.flex-produits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-produits .bg-produits-1 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/bfheuakyrubvwr448i.webp);
  height: 600px;
  width: 350px;
}
.flex-produits .bg-produits-1 .overlay {
  padding-top: 35dvh;
  text-align: center;
  flex-direction: column;
  color: white;
}
.flex-produits .bg-produits-1 .overlay img {
  width: 70%;
}
.flex-produits .bg-produits-2 {
  background-image: url(../img/Bniwbiedb2.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 350px;
}
.flex-produits .bg-produits-2 .overlay {
  padding-top: 35dvh;
  text-align: center;
  flex-direction: column;
  color: white;
}
.flex-produits .bg-produits-2 .overlay img {
  width: 70%;
}
.flex-produits .bg-produits-3 {
  background-image: url(../img/BbvlL835T_CMM_420x700.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 350px;
}
.flex-produits .bg-produits-3 .overlay {
  padding-top: 35dvh;
  text-align: center;
  flex-direction: column;
  color: white;
}
.flex-produits .bg-produits-3 .overlay img {
  width: 70%;
}
.flex-produits .bg-produits-4 {
  background-image: url(../img/Cwtyiugh346-420x700.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 350px;
}
.flex-produits .bg-produits-4 .overlay {
  padding-top: 35dvh;
  text-align: center;
  flex-direction: column;
  color: white;
}
.flex-produits .bg-produits-4 .overlay img {
  width: 70%;
}

footer {
  background-color: black;
}
footer .flex-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
footer .flex-footer .logo-footer {
  margin: 0;
  padding: 0;
}
footer .flex-footer .logo-footer p {
  color: white;
  margin: 0;
  padding-left: 45px;
}
footer .flex-footer .navbar-footer {
  width: 30%;
}
footer .flex-footer .navbar-footer ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  list-style: none;
}
footer .flex-footer .navbar-footer ul li a {
  text-decoration: none;
  color: white;
}
footer .flex-footer .mention {
  color: white;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
header img {
  width: 50%;
  margin: 0 40px;
}

#hero {
  background-image: url(../img/banner.webp);
  background-position: center;
  background-size: cover;
  height: 600px;
}

.flex-banner {
  width: 50%;
  padding-top: 15%;
  margin-left: 10%;
}

.card-banner {
  background-color: rgba(233, 233, 233, 0.63);
  padding: 25px;
  border-radius: 12px;
}
.card-banner h1 {
  color: red;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
